/* Generales  */

:root {
    --color-header: linear-gradient(#A594F9, #F5EFFF);
    --color-footer: linear-gradient(#F5EFFF, #A594F9);
    --color-primario: #A594F9;
    --color-secundario: #F5EFFF;
    --color-terciario: #AA60C8;
    --color-negro: black;
}

* {
    box-sizing: border-box;
} 

body {
    height: 100%;
    margin: 0;
    background-color: var(--color-secundario);
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
}

header, footer, .container, .galeria, .font-sub-aside{
    display: flex;
    justify-content: center;
}

.container, footer, .titulo-aside {
    align-items: center;
}

.color-titulo {
    color: var(--color-terciario);
}

.font-subtitulo {
    font-family: "Uchen", serif;
    font-weight: bolder;
    font-size: xx-large;
    margin-top: 50px;
}

.color-morado {
    color: var(--color-terciario);
}

.audio-papito, .github{
    float: left;
}

/* Header */

header {
    grid-area: header;
    padding: 20px;
    background: var(--color-header);
}

.familia {
    width: 150px;
    margin-right: 50px;
}

.font-titulo {
    font-family: "Bevan", serif;
    font-weight: 400;
    font-size: xx-large;
}

.novio {
    height: 155px;
    margin-left: 50px;
}

.familia, .novio {
    border: double var(--color-primario);
    border-radius: 50%;
    box-shadow: 0 4px 6px var(--color-negro);
}

/* Main */

main {
    grid-area: main;
    padding: 30px 100px;
}

.circulo-familiar {
    width: 50%;
    border: double 5px var(--color-primario);
    margin: 100px auto;
    padding: 20px;
    border-radius: 50% 20% 50% 20% / 20% 50% 20% 50%;
}

.audio-papito {
    width: 250px;
    border: 5px double var(--color-primario);
    margin-right: 20px;
}

/* Aside */

aside {
    grid-area: aside;
}

.font-sub-aside {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
}

.titulo-aside {
    margin-left: 20px;
    font-size: 30px;
}

.galeria {
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 30px;
    justify-content: center;
}

.medida {
    width: 60%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--color-negro);
}

/* Footer */

footer {
    grid-area: footer;
    background: var(--color-footer);
    flex-wrap: wrap;
    margin-top: 30px;
}

.github {
    width: 100px;
    border-radius: 20px;
    box-shadow: 0 4px 6px var(--color-negro);
}