/* Variables */

:root {
    --color-header: linear-gradient(#A594F9, #F5EFFF);
    --color-footer: linear-gradient(#F5EFFF, #A594F9);
    --color-body: #F5EFFF;
    --color-primario: #AA60C8;
    --color-secundario: #E5D9F2;
    --color-terciario: #CDC1FF;
    --color-negro: black;
    --fuente-titulo: "Bevan", serif;
    --fuente-subtitulo: "Uchen", serif;
    --fuente-secundarios: "Merienda", cursive;
}

/* GRUPOS */

html, body {
    height: 100%;
}

header, .galeria, footer {
    display: flex;
    flex-wrap: wrap;
}

.familia-foto, .novio-foto {
    width: 110px;
    height: 110px;
    margin: 5px;
}

.familia, .novio {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 4px 6px var(--color-negro)
}

.color-titulo, .color-subtitulo {
    color: var(--color-primario);
}

.mamita, .abuelita, .perrito, .papito, .harley, .pao, .tonny, .noviecito {
    margin-bottom: 40px;
}

/* Etiquetas */

* , *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    background-color: var(--color-body); 
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
}

header {
    background: var(--color-header);
    align-items: center;
    justify-content: center;
    padding: 10px;
}

main {
    padding: 15px;
}

footer {
    background: var(--color-footer);
    margin-top: 100px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

/* Header */

.font-titulo {
    font-size: 16px;
    font-family: var(--fuente-titulo);
}

/* Main */

.circulo-familiar {
    border-radius: 85% 5% 85% 5% / 5% 85% 5% 85%;
    border: double var(--color-terciario);
    width: 70%;
    margin: 40px auto;
    padding: 8px;
}

.font-subtitulo {
    font-family: var(--fuente-subtitulo);
}

.audio {
    width: 150px;
}

.audio-papito {
    float: left;
    width: 100%;
    margin-right: 15px;
    background-color: var(--color-secundario);
    border: 5px double var(--color-terciario);
}

/* Aside */

.font-sub-aside {
    font-family: var(--fuente-secundarios);
    font-size: 20px;
    text-align: center;
}

.galeria {
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 45px;
    margin-bottom: 45px;
}

.medida-galeria {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--color-negro);
}

.contenedor-galeria {
    width: 150px;
}

/* Footer */

.github {
    width: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--color-negro);
}

/* Media Queries */

@media screen and (min-width: 768px) {

    /* Grupos */

    main, aside {
        width: 75%;
        margin: auto;
    }

    /* Etiquetas */

    html {
        font-size: 80%;
    }
    
    main {
        padding: 0;
    }

    /* Header */

    .font-titulo {
        font-size: 25px;
    }

    .familia-foto, .novio-foto {
        width: 150px;
        height: 150px;
        margin: 25px;
    }

    /* Main */

    .circulo-familiar {
        width: 50%;
        margin: 60px auto;
    }

    .audio {
        width: 200px;
    }

    .noviecito {
        margin-bottom: 100px;
    }

    /* Aside */

    .contenedor-galeria {
        width: 170px;
    }

    /* Footer */

    .github {
        width: 90px;
    }
}

@media screen and (min-width: 992px) {

    /* Grupos */

    main, aside, footer {
        margin: 0;
    }

    main, aside {
        width: auto;
    }

    /* Etiquetas */

    body {
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-areas: 
            "header header"
            "main aside"
            "footer footer";
    }

    header {
        grid-area: header;
    }

    main {
        grid-area: main;
        padding-left: 50px;
    }

    aside {
        grid-area: aside;
    }

    footer {
        grid-area: footer;
    }

    /* Main */

    .circulo-familiar {
        margin: 30px auto;
    }

    .noviecito {
        margin-bottom: 50px;
    }

    /* Aside */

    .galeria {
        flex-direction: column;
    }

    .contenedor-galeria {
        width: 200px;
    }
}