/* Variables */

:root {
    --color-header: linear-gradient(#A594F9, #F5EFFF);
    --color-footer: linear-gradient(#F5EFFF, #A594F9);
    --color-body: #F5EFFF;
    --color-primario: #AA60C8;
    --color-secundario: #E5D9F2;
    --color-terciario: #CDC1FF;
    --color-negro: black;
    --fuente-titulo: "Bevan", serif;
    --fuente-subtitulo: "Uchen", serif;
    --fuente-secundarios: "Merienda", cursive;
    --prueba-borde: solid aqua;
    --prueba-borde-2: solid yellowgreen;
}

/* Etiquetas */

* , *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    background-color: var(--color-body); 
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
}

header {
    background: var(--color-header);
    font-family: var(--fuente-secundarios);
    font-size: 8px;
    margin-bottom: 50px;
    height: 160px;
}

main {
    background: var(--color-body);
    padding: 15px;
}

section {
    margin-bottom: 50px;
}

iframe {
    margin-top: 10px;
    border: groove;
}

thead {
    background: var(--color-terciario);
}

td {
    border: 1px solid var(--color-terciario);
}

caption {
    margin-bottom: 10px;
}

aside {
    width: 80%;
    margin: auto;
}

footer {
    background: var(--color-footer);
    height: 100px;
    flex-direction: column;
    margin-top: 30px;
}

/* Grupos */

html, body {
    height: 100%;
}

header, .cursiva {
    font-family: var(--fuente-secundarios);
}

.color-titulo, .color-morado {
    color: var(--color-primario);
}

.menu, .form, footer{
    display: flex;
    flex-wrap: wrap;
}

.blackmoon, .fenix, .ramen {
    border: double;
}

.menu, .form, footer{
    justify-content: center;
}

.menu, .form, footer {
    align-items: center;
}

.font-titulo, h2, figure, .contenedor-iframe, .font-video, .contactame, .titulo {
    text-align: center;
}

.negrita {
    font-weight: bold;
}

.figcaption, .font-video {
    font-family: var(--fuente-secundarios);
}

.receta, .video-billie, .table, .contactame{
    background: var(--color-secundario);
}

.receta, .video-billie, .table, .boton {
    border: double var(--color-terciario);
}

.video-billie, .table, .github {
    margin: auto;
}

th, td {
    padding: 5px;
    text-align: center;
}

.titulo-aside, .contacto {
    font-size: 20px;
}

/* Header */  

.menu {
    gap: 20px;
}

.contenedor-moto {
    width: 120px;
    height: 104px;
    margin-top: 8px;
}

.blackmoon {
    width: 100%;
    border-radius: 10px;
}

.a-nav {
    text-decoration: none;
    border-radius: 8px;
    color: var(--color-negro);
    margin: 1px;
    border: 1px solid;
    padding: 4px;
}

/* Main */

.font-subtitulo {
    font-family: var(--fuente-subtitulo);
}

/* Intro */

.font-titulo {
    font-family: var(--fuente-titulo);
    font-size: 25px;
}

/* S-deportes */

.fenix {
    width: 150px;
    margin-top: 10px;
}

/* S-comida */

.ramen {
    width: 100px;
    border-radius: 10px 30px;
    float: left;
    margin-right: 8px;
}

.receta {
    padding: 8px;
}

/* S-cantantes */

.video-billie {
    width: 70%;
    border: dotted var(--color-terciario);
    padding: 10px;
}

.video {
    width: 100%;
}

.table {
    margin-top: 20px;
}

/* Aside */

.galeria {
    column-count: 2; /* Cambia el número según ancho de pantalla */
    padding-left: 60px;
}

.medida-fotos {
    width: 150px;
}

.medida {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--color-negro);
    margin-bottom: 15px;
}

.contactame {
    border: dashed var(--color-terciario);
    margin-top: 50px;
}

.form {
    flex-direction: column;
    gap: 5px;
    margin-bottom: 30px;
}

.label {
    font-size: 15px;
}

.boton {
    text-transform: capitalize;
    border: solid var(--color-primario);
    background: #F5EFFF;
    border-radius: 8px;
    cursor: pointer;
    width: 65px;
    padding: 10px;
}

.github {
    width: 100px;
    display: block;
    margin-bottom: 8px;
}

/* Media Queries */

@media screen and (min-width: 768px) {

    /* Etiquetas */

    html {
        font-size: 80%;
    }

    header {
        font-size: 15px;
        padding: 15px;
        height: 230px;
        margin-bottom: 30px;
    }

    main {
        width: 90%;
        margin: auto;
    }

    figure {
        float: left;
    }

    footer {
        height: 150px;
    }

    /* Header */

    .contenedor-moto {
        width: 140px;
        height: 123px;
    }
    
    .a-nav {
        padding: 7px;
    }

    /* Main */

    /* S-deportes */

    .fenix {
        width: 190px;
    }

    .contenedor-iframe {
        margin-top: 20px;
    }

    /* S-comida */

    .receta {
        padding: 5px 20px;
    }

    /* S-cantantes */

    .video-billie {
        width: 80%;
        padding: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    /* Aside */

    .galeria {
        margin-top: 30px;
        column-count: 3;
    }

    .contactame{
        width: 60%;
        margin: 50px auto;
    }
    
    .form {
        flex-direction: column;
        gap: 5px;
        margin-bottom: 30px;
    }
    
    .label {
        font-size: 15px;
    }
}

@media screen and (min-width: 992px) {

    /* Grupos */

    main, aside, footer {
        margin: 0;
    }

    main, aside {
        width: auto;
    }


    /* Etiquetas */

    body {
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-areas: 
        "header header"
        "main aside"
        "footer footer";
    }

    header {
        grid-area: header;
        margin: 0;
    }

    main {
        grid-area: main;
        padding: 50px 100px;
    }

    aside {
        grid-area: aside;
        padding: 20px;
    }

    footer {
        grid-area: footer;
    }

    /* Header */

    .a-nav {
        margin: 10px;
    }

    /* Main */

    /* Deportes */

    .volley {
        display: flex;
        justify-content: space-evenly;
    }

    /* S-comida */

    .titulo {
        margin-top: 50px;
    }

    .ramen {
        width: 80px;
    }

    .receta {
        display: flex;
        width: 70%;
        margin: auto;
    }

    .procedimiento, .ingredientes {
        width: 50%;
    }

    /* Cantantes */

    .video {
        width: 400px;
        float: left;
        margin-right: 15px;
    }

    .video-billie {
        width: 90%;
        height: 330px;
    }

    .table {
        margin-top: 50px;
    }

    /* Aside */

    .galeria {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        gap: 15px;
    }

    .medida-fotos {
        width: 50%;
    }
    
    .contactame {
        width: 100%;
        height: 450px;
    }

    .form {
        display: inline-flex;
        align-items: start;
        margin: 0;
        float: left;
        margin-left: 10px;
    }

    .github {
        display: inline;
        margin: 233px 0 0;
    }
}